<div id="contactContainer">
  <div id="profileImg">
    <img src="assets/contact/profile.jpeg" alt="">
  </div>

  <hr class="horizontalLine">

  <div id="contactData">
    <p>Mobile: <a href="tel:{{ contacts.mobile }}">{{ contacts.phoneNum }}</a></p>
    <p>Email: <a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a></p>
    <p>GitHub: <a href="https://github.com/chrismathew3" target="_blank">chrismathew3</a></p>
    <p><a href="https://www.linkedin.com/in/chris-m-525266116/" target="_blank">LinkedIn</a></p>
  </div>
</div>
