@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Caveat");
html
{
  scroll-behavior: smooth;
}
#container
{
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  min-width: 300px;
  height: 100%;
  /*line below controls the background color if greater than 1080px, center it*/
  margin-bottom: -50px;
  z-index: 1;
}
.headerBackground
{
  width: 100%;
  display: block;
  position: absolute;
  height: 130px;
  background-color: #045F85;
  left: 0px;
  z-index: -10;
  min-width: 300px;
}
#header
{
  position: relative;
  display: block;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 32.4px;
  z-index: 1;
  overflow-x: hidden;
  min-width: 300px;
}
#headerLeft,
#headerRight
{
  position: relative;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
#headerLeft
{
  color: white;
  margin-top: 15px;
}
#headerLeft> a
{
  color: white;
  text-decoration: none;
}
#headerLeft> a:hover
{
  text-decoration: none;
}
#headerRight
{
  text-align: right;
  padding-right: 20px;
}
#headerRight > a
{
  color: #FF7791;
  border: 1px solid #FF7791;
  padding: 5px;
  border-radius: 3px;
  position: relative;
  top: 45px;
  font-size: 13px;
  transition: color 0.4s;
}
#headerRight > a:hover
{
  cursor: pointer;
  text-decoration: none;
  /* background-color: #E6777F; */
  color: white;
  border: 1px solid white;
  transition: color 0.4s;
}
#menuLines
{
  position: absolute;
  z-index: 1;
  top: 87px;
  width: 100%;
  height: 200px;
  left: 0px;
  overflow-x: hidden;
  padding-top: 40px;
  min-width: 300px;
}
#menuLines > hr
{
  background-color: #FF7791;
  color: #FF7791;
  padding: 1px 0;
  margin: 0px;
  display: inline-block;
  vertical-align: top;
}
#leftLine
{
  position: relative;
  width: 45%;
  left: 0px;
  top:37px;
}
#rotateLine
{
  position: relative;
  transform: rotate(-50deg);
  width: 101px;
  top:-1px;
  left: -20px;
}
#rightLine
{
  position: absolute;
  width: 55%;
  top: 0px;
  right: -62.2px;
}
/* Change after width of screen is less than 700px */
#mainMenu
{
  width: 51.3%;
  position: relative;
  display: block;
  float: right;
  margin-top: -40px;
  margin-bottom: -5px;
  z-index: 2;
  /* filter: blur(0px); */
}
#mainMenu > input,
#mainMenu > label
{
  display: none;
}
#mainMenu > #pages > a
{
  display: inline-block;
  position: relative;
  width: 33.3%;
  padding: 10px;
  text-align: center;
  border-bottom: 5px solid transparent;
  color: white;
  transition: 0.4s;
  z-index: 2;
}
/* #mainMenu:hover > #pages a */
.blurBackground
{
  transform: scale(1);
  filter: blur(3.3px);
  transition: filter 0.3s;
}
#mainMenu > #pages > a:hover
{
  cursor: pointer;
  border-bottom: 5px solid #FF7791;
  color: #FF7791;
  transition: 0.4s;
  text-decoration: none;
  /* transform: scale(2); */
  filter: blur(0px);
}
#mainMenu > #pages > a.active
{
  cursor: pointer;
  border-bottom: 5px solid #FF7791;
  color: #FF7791;
  transition: 0.4s;
  text-decoration: none;
}
#square
{
  height: 34px;
  width: 26px;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color:rgba(255,255,255,0.7);
}
#trapezoid
{
  position: absolute;
  top:130px;
  z-index:1;
  display: inline-block;
  border-top: 34px solid rgba(255,255,255,0.7);
  border-right: 28px solid transparent;
  height: 0;
  width: 45%;
  left: 26px;
}

#BridgePicture
{
  width: 100%;
  position: relative;
  display: block;
  left: 0px;
  z-index: -10;
  margin-top: -20px;
  max-height: 525px;
  overflow: hidden;
  min-width: 300px;
}
#pageTitle
{
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 40px;
  padding-left: 20px;
  padding-top: 20px;
}
#pageTitle > h3
{
  margin: auto;
  max-width: 960px;
  color: white;
}
#BridgePicture > img
{
  width: 100%;
  position: relative;
  bottom: 0px;
  z-index: -10;
}
#subMenu
{
  display: block;
  position: relative;
  z-index: 10;
  padding-top: 5px;
  padding-left: 5px;
  width: 40%;
  left: 0px;
}
/* home sub menu */
#homeSubMenu > a
{
  display: inline-block;
  text-align: center;
  width: 50%;
  vertical-align:middle;
  padding-right: 10px;
  text-decoration: none;
}
#homeSubMenu > a > p
{
  color: rgba(0,0,0,0.7);
  z-index: 3;
  font-size: 15px;
  transition: color 0.5s;
}
#homeSubMenu > a:hover > p
{
  color: #FF7791;
  transition: color 0.5s;
}
#homeSubMenu > a:hover
{
  text-decoration: none;
  cursor: pointer;
}
/* Experience */
#experienceSubMenu
{
  width: 100%;
}
#experienceSubMenu > a
{
  display: inline-block;
  text-align: center;
  width: 33%;
  vertical-align:middle;
  padding-right: 10px;
  text-decoration: none;
}
#experienceSubMenu > a:nth-of-type(1)
{
  /* background-color: blue; */
  width: 25%;
  text-align: left;
}
#experienceSubMenu > a:nth-of-type(2)
{
  /* background-color: blue; */
  min-width: 128px;
}
#experienceSubMenu > a > p
{
  color: rgba(0,0,0,0.7);
  z-index: 3;
  font-size: 15px;
  transition: color 0.5s;
}
#experienceSubMenu > a:hover > p
{
  color: #FF7791;
  transition: color 0.5s;
}
#experienceSubMenu > a:hover
{
  text-decoration: none;
  cursor: pointer;
}
/*  */
#container2
{
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  min-width: 300px;
  height: 100%;
  z-index: 10;
}
.content
{
  position: relative;
}
.content > *
{
  display: block;
}
#footer
{
  position: relative;
  /* bottom: 4px; */
  width: 100%;
  color: white;
  z-index: 1;
}
#quickLinks
{
  width: 100%;
  height: 40px;
  font-family: sans-serif;
  text-align: center;
  /* background-color:  rgb(72,91,109); */
}
#footer > h3
{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: sans-serif;
  position: relative;
  /* left:35%; */
}

#quickLinks > a
{
  width: 33%;
  color: white;
  list-style-type: none;
  display: inline-block;
  text-align: center;
}
#quickLinks > a:hover
{
  text-decoration:none;
  color: #045F85;
  transition: color 0.35s;
}
#signature
{
  /* background-color: rgb(72,91,109); */
  text-align: right;
  padding-right: 5px;
  color: white;
  font-family: sans-serif;
  font-size: 10px;
  position: absolute;
  right: 0px;
  margin-bottom: 0px;
  margin-top: 13px;
}
#signature > p
{
  margin-bottom: 0px;
}
#footer-background
{
  display: block;
  position: absolute;
  height: 134px;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  left: 0px;
  z-index: -1;
  min-width: 300px;
}









@media all and (max-width:789px)
{
  #subMenu
  {
    display: block;
    position: relative;
    z-index: 10;
    padding-top: 5px;
    padding-left: 5px;
    width: 40%;
    left: 0px;
  }
  /* Experience */
  #experienceSubMenu
  {
    width: 100%;
  }
  #experienceSubMenu > a
  {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align:middle;
    padding-right: 0px;
    text-decoration: none;
  }
  #experienceSubMenu > a:nth-of-type(1)
  {
    /* background-color: blue; */
    width: 22%;
    text-align: left;
  }
  #experienceSubMenu > a:nth-of-type(2)
  {
    /* background-color: blue; */
    min-width: 128px;
  }
  #experienceSubMenu > a > p
  {
    z-index: 3;
    font-size: 15px;
  }
  #pageTitle
  {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 40px;
    padding-left: 10px;
    padding-top: 20px;
  }
  #pageTitle > h2
  {
    margin: auto;
    max-width: 960px;
    color: white;
  }
}









@media all and (max-width:700px)
{
  #mainMenu
  {
    width: 50.5%;
    position: relative;
    display: block;
    float: right;
    margin-top: -40px;
    margin-bottom: -5px;
    z-index: 2;
  }
  #mainMenu > #pages > a
  {
    display: inline-block;
    position: relative;
    width: 33.3%;
    padding: 10px;
    text-align: center;
    z-index: 2;
  }
  #subMenu
  {
    display: block;
    position: relative;
    z-index: 10;
    padding-top: 5px;
    padding-left: 5px;
    width: 50%;
    left: 0px;
  }
  /* Experience */
  #experienceSubMenu
  {
    width: 100%;
  }
  #experienceSubMenu > a
  {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align:middle;
    padding-right: 0px;
    text-decoration: none;
  }
  #experienceSubMenu > a:nth-of-type(1)
  {
    /* background-color: blue; */
    width: 19%;
    text-align: left;
  }
  #experienceSubMenu > a:nth-of-type(2)
  {
    /* background-color: blue; */
    min-width: 128px;
  }
  #experienceSubMenu > a:nth-of-type(3)
  {
    /* background-color: blue; */
    text-align: left;
  }
  #experienceSubMenu > a > p
  {
    z-index: 3;
    font-size: 15px;
  }

  #BridgePicture
  {
    width: 100%;
    position: relative;
    display: block;
    left: 0px;
    z-index: -10;
    height: 320px;
    margin-top: -20px;
  }
  #pageTitle > h2
  {
    margin: auto;
    max-width: 960px;
    color: white;
  }
  #BridgePicture > img
  {
    width: auto;
    height: 100%;
    margin-left: -150px;
  }
}







/* Mobile Switch! */
@media all and (max-width:596px)
{
  .headerBackground
  {
    width: 100%;
    display: block;
    position: absolute;
    height: 130px;
    background-color: #045F85;
    left: 0px;
    z-index: 0;
  }
  #header
  {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 5px;
    margin-bottom: 32.4px;
    z-index: 1;
    overflow-x: hidden;
  }
  #headerLeft
  {
    display: block;
    width: 100%;
    color: white;
    margin-top: 15px;
    text-align: center;
  }
  #headerLeft > a > h2
  {
    margin-bottom: 0px;
  }
  #headerLeft> a
  {
    color: white;
    text-decoration: none;
  }
  #headerLeft> a:hover
  {
    text-decoration: none;
  }
  #headerRight
  {
    position: absolute;
    text-align: right;
    /* padding-right: 20px; */
    top: 0px;
    right: 20px;
  }
  #headerRight > a
  {
    color: #FF7791;
    border: 1px solid #FF7791;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    top: 45px;
    font-size: 13px;
    transition: 0.4s
  }
  #headerRight > a:hover
  {
    cursor: pointer;
    text-decoration: none;
    /* background-color: #E6777F; */
    color: white;
    border: 1px solid white;
    transition: 0.4s
  }
  #menuLines
  {
    position: absolute;
    z-index: 1;
    top: 87px;
    width: 100%;
    left: 0px;
  }
  #menuLines > hr
  {
    background-color: #FF7791;
    color: #FF7791;
    padding: 1px 0;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
  }
  #leftLine
  {
    position: relative;
    width: 40px;
    left: 0px;
    top:37px;
  }
  #rotateLine
  {
    position: relative;
    transform: rotate(-50deg);
    width: 101px;
    top:-1px;
    left: -20px;
  }
  #rightLine
  {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 102px;
  }
  #whiteBar
  {
    overflow-x: hidden;
    margin-top: -15px;
  }
  #square
  {
    display: none;
  }
  #trapezoid
  {
    position: relative;
    width: 100%;
    left: 102px;
    top: 0px;
    z-index:1;
    display: block;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 40px solid rgba(255,255,255,0.7);
    border-left: 33px solid transparent;
    height: 0;
    margin-left: -32px;
  }
  #mainMenu
  {
    width: 50.5%;
    position: absolute;
    display: block;
    float: right;
    margin-top: -40px;
    margin-bottom: -5px;
    z-index: 3;
    /* background-color: gray; */
  }
  #pages
  {
    background-color: rgba(0,0,0,0.85);
    position: absolute;
    width: 150px;
    margin-top: 65px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: translateX(-100%);
    transition: transform 0.2s;
  }
  #pages.slide
  {
    margin-left: 0px;
    transform: translateX(0%);
    transition: transform 0.33s;
    /* transition: 1s; */
  }
  #mainMenu > label.active
  {
    background-color: white;
    transition: background-color 0.33s;
    color: #FF7791;
    border: 1px solid #FF7791;
  }
  #mainMenu > #pages > a
  {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px;
    left: 0px;
    text-align: center;
    z-index: 2;
  }

  #mainMenu > label
  {
    position: absolute;
    margin-top: 15px;
    font-size: 30px;
    left: -2px solid transparent;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: none;
    transition: background-color 0.2s;
    z-index: 3;
  }
  #mainMenu > label:hover
  {
    cursor: pointer;
  }
  #subMenu
  {
    display: block;
    position: absolute;
    z-index: 2;
    margin-top: -35px;
    padding-left: 5px;
    padding-left: 75px;
    width: 100%;
    right: 0px;
  }
  /* home sub menu */
  #homeSubMenu > a
  {
    display: inline-block;
    text-align: center;
    width: 50%;
    vertical-align:middle;
    padding-right: 0px;
    text-decoration: none;
  }
  #homeSubMenu > a > p
  {
    color: rgba(0,0,0,0.7);
    z-index: 3;
    font-size: 13px;
    transition: color 0.5s;
  }
  /* Experience */
  #experienceSubMenu
  {
    width: 100%;
  }
  #experienceSubMenu > a
  {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align:middle;
    padding-right: 0px;
    text-decoration: none;
  }
  #experienceSubMenu > a:nth-of-type(1)
  {
    /* background-color: blue; */
    width: 30%;
    text-align: center;
  }
  #experienceSubMenu > a:nth-of-type(2)
  {
    /* background-color: blue; */
    min-width: 128px;
  }
  #experienceSubMenu > a:nth-of-type(3)
  {
    /* background-color: blue; */
    text-align: center;
  }
  #experienceSubMenu > a > p
  {
    z-index: 3;
    font-size: 13px;
  }

  #BridgePicture
  {
    width: 100%;
    position: relative;
    display: block;
    left: 0px;
    z-index: -10;
    height: 320px;
    margin-top: -20px;
    overflow-y: hidden;
  }
  #pageTitle > h2
  {
    margin: auto;
    max-width: 960px;
    color: white;
  }
  #BridgePicture > img
  {
    width: auto;
    height: 100%;
    margin-left: -150px;
  }

  #quickLinks
  {
    width: 100%;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  #quickLinks > a
  {
    width: 50%;
    font-size: 13px;
  }
}










@media all and (max-width:420px)
{
  #headerLeft
  {
    display: block;
    width: 100%;
    color: white;
    margin-top: 15px;
    text-align: center;
  }
  #headerLeft > a > h2
  {
    margin-bottom: 0px;
    font-size: 24px;
    margin-top: 27px;
  }
  #headerRight
  {
    position: absolute;
    text-align: right;
    /* padding-right: 20px; */
    top: 0px;
    right: 10px;
  }
  #headerRight > a
  {
    color: #FF7791;
    border: 1px solid #FF7791;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    top: 45px;
    font-size: 11px;
    transition: 0.4s
  }
  #subMenu
  {
    display: block;
    position: absolute;
    z-index: 2;
    margin-top: -35px;
    padding-left: 5px;
    padding-left: 75px;
    width: 100%;
    right: 0px;
  }
  /* home sub menu */
  #homeSubMenu > a
  {
    display: inline-block;
    text-align: center;
    width: 50%;
    vertical-align:middle;
    padding-right: 0px;
    text-decoration: none;
  }
  #homeSubMenu > a > p
  {
    color: rgba(0,0,0,0.7);
    z-index: 3;
    font-size: 13px;
    transition: color 0.5s;
  }
  /* Experience */
  #experienceSubMenu
  {
    width: 100%;
  }
  #experienceSubMenu > a
  {
    display: inline-block;
    text-align: center;
    width: 23%;
    vertical-align:middle;
    padding-right: 0px;
    text-decoration: none;
  }
  #experienceSubMenu > a:nth-of-type(1)
  {
    /* background-color: blue; */
    /* width: 30%; */
    text-align: right;
  }
  #experienceSubMenu > a:nth-of-type(2)
  {
    /* background-color: blue; */
    min-width: 120px;
  }
  #experienceSubMenu > a:nth-of-type(3)
  {
    /* background-color: blue; */
    text-align: center;
  }
  #experienceSubMenu > a > p
  {
    z-index: 3;
    font-size: 13px;
  }
}








@media all and (max-width:350px)
{
  #headerRight
  {
    position: absolute;
    text-align: right;
    /* padding-right: 20px; */
    top: 0px;
    right: 0px;
  }
  #headerRight > a
  {
    color: #FF7791;
    border: 1px solid #FF7791;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    top: 45px;
    font-size: 10px;
    transition: 0.4s
  }
  #homeSubMenu > a > p
  {
    color: rgba(0,0,0,0.7);
    z-index: 3;
    font-size: 12px;
    transition: color 0.5s;
  }
  /* Experience */
  #experienceSubMenu
  {
    width: 100%;
  }
  #experienceSubMenu > a
  {
    display: inline-block;
    text-align: center;
    width: 15%;
    vertical-align:middle;
    padding-right: 0px;
    text-decoration: none;
  }
  #experienceSubMenu > a:nth-of-type(1)
  {
    /* background-color: blue; */
    /* width: 30%; */
    text-align: right;
  }
  #experienceSubMenu > a:nth-of-type(2)
  {
    /* background-color: blue; */
    min-width: 100px;
    text-align: center;
  }
  #experienceSubMenu > a:nth-of-type(3)
  {
    /* background-color: blue; */
    text-align: left;
  }
  #experienceSubMenu > a > p
  {
    z-index: 3;
    font-size: 12px;
  }
}
